@use 'variables';
@use 'initial';
@use 'mixins';

    .main-container{
    border: 1px solid red;
    width: 375px;
    margin: auto;
    @include mixins.desktop-view;
    }
    .navbar{
        border: 1px solid navy;
        display: flex;
        justify-content: space-between;
        padding: 24px 24px 0;
        margin-bottom: 100px;
        &__logo{
            width: 80px;
            height: 25px;
            @include mixins.desktop-view(170px);
        }
        &__nav-container{
            border: 1px solid red; 
            display:flex;
            width:167px;
            font-size: 0.8em;
            justify-content:space-between;
            @include mixins.desktop-view(274px, unset, 1em);
            li {
                list-style: none;
            }
            a{
                text-decoration: none;
                &:hover{
                    color:variables.$Bright-Blue;
                }
            }
        }
    }

    .header {
        border: solid black 1px;
        padding: 0 24px 182px;
        &__illustration{
            width: 100%;
            margin-bottom: 40px;
        }
      .header-content{
        &__tittle{
            font-size: 1.5em;
            font-family: variables.$Headers-font;
            text-align: center;
            line-height: 30px;
            margin-bottom: 30px;
            font-weight: 700;
        }
        &__description{
            text-align: center;
            font-size: 0.95em;
            margin-bottom: 30px;
        }
        &__form{
            display: flex;
            flex-direction: column;
            //border: solid darkcyan 1px;
            height: 100px;
            justify-content: space-between;
        }
        &__form input{
            height: 40px;
            border-radius: 4px;
            border: 1px solid variables.$Light-Gray;
        }
        &__form input[type='text']{
            padding-left: 15px;
        }
        &__form input[type='text']::placeholder{
            color: variables.$Light-Gray;
        }
        &__form input[type='submit']{
            @include mixins.button;
        }
      }
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }